<div class="container">
  <div class="row">
    <div style="border:1px solid" class="col-sm-3">
      <div style="display:flex;flex-direction:column;align-items: center" >
       <h3>{{ this.weatherData?.city.name }}</h3>
       <div style="display:flex; justify-content: space-around;" class="row">
           <p>Lat : {{ this.weatherData?.city.coord.lat}}</p>
           <p style="margin-left: 15 px"> Long : {{ this.weatherData?.city.coord.lon}}</p>
        </div>

      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div *ngFor="let data of weatherData?.list" class="col-sm-6">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ data.dt * 1000 | date:'short'}} </div>
            <div class="card-body">
              <h5 class="card-title">{{ data.weather[0].description}}</h5>
              <img src="http://openweathermap.org/img/wn/{{ data.weather[0].icon}}.png"/>
              <p class="card-text">{{ data.temp.max }} °</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
